.component-menu {

    margin-top: 7rem;
    margin-bottom: 6px;
    padding: 0 2rem;
    position: relative;
    z-index: 2;

    ul {

        li {

            display: inline-block;

            a { 

                color: #beb088;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 1px;
                padding: 1rem 1.5rem;
                display: block;
                transition-duration: .2s;
                cursor: pointer;
                text-decoration: none;

                &:hover {

                    color: #f0e6d2;
                    transition-duration: .2s;

                }

            }

            .item-menu-active {

                color: #f0e6d2 !important;

            }

        }

    }

}

.content {

    height: calc(100% - 164px);
    width: 100%;
    overflow-y: auto;
    position: relative;
    z-index: 2;

}