<header>

    <nav class="main-menu">
        <div class="play-button">
            <p>Jogar</p>
            <img class="play-button-image" src="../assets/images/button-logo.png">
        </div>
        <ul>
            <li>Início</li>
            <li>Tft</li>
            <li>Clash</li>
        </ul>
        <ul class="main-menu-right">
            <li><img src="../assets/images/profile.png" alt=""></li>
            <li><img src="../assets/images/colection.png" alt=""></li>
            <li><img src="../assets/images/rewards.png" alt=""></li>
            <li><img src="../assets/images/shop.png" alt=""></li>
            <div class="game-money">
                <div class="riot-points">
                    <img src="../assets/images/riot-points.png">
                    <p>720</p>
                </div>
                <div class="blue-essence">
                    <img src="../assets/images/blue-essence.png">
                    <p>25K</p>
                </div>
            </div>
        </ul>
    </nav>

</header>

<div class="vertical-line"></div>

<main>

    <router-outlet></router-outlet>

</main>

<aside>

    <div class="user-info">
        <span class="dot"></span>
        <div class="user-information">
            <p class="user-nickname">Nome do Usuário</p>
            <span class="user-status"></span>
            <p class="user-message">"jogo bosta"</p>
        </div>
    </div>
    
    <div class="chat-options">
        <label>Social</label>
        <img src="../assets/images/pesquisa.png">
        <img src="../assets/images/lista.png">
        <img src="../assets/images/adicionar abigo.png">
    </div>

    <div class="container">

        <ul class="list-groups">
            <li class="group">
                <img src="../assets/images/group-main-flag.png">
                <p class="group-initials">MAIN</p>
                <p class="group-name">Main Group</p>
            </li>
            <li class="group">
                <img src="../assets/images/group-flag.png">
                <p class="group-initials">Zed</p>
                <p class="group-name">El Zedon de la Muerte</p>
            </li>
            <li class="group">
                <img src="../assets/images/group-flag.png">
                <p class="group-initials">TFSZ</p>
                <p class="group-name">Twisted Fate Lovers</p>
            </li>
        </ul>

        <ul class="list-friends">
            <li class="friends-menu" onclick="collapseFriend()">Geral (3/27)</li>
            <ul class="friend" id="friendList">
                <li>
                    <span class="dot"></span>
                    <div class="friend-chat-informations">
                        <p class="friend-nickname">Nicknamez</p>
                        <p class="friend-status">Status</p>
                    </div>
                </li>
                <li>
                    <span class="dot"></span>
                    <div class="friend-chat-informations">
                        <p class="friend-nickname">Nicknamez</p>
                        <p class="friend-status">Status</p>
                    </div>
                </li>
                <li>
                    <span class="dot"></span>
                    <div class="friend-chat-informations">
                        <p class="friend-nickname">Nicknamez</p>
                        <p class="friend-status">Status</p>
                    </div>
                </li>
                <li>
                    <span class="dot"></span>
                    <div class="friend-chat-informations">
                        <p class="friend-nickname">Nicknamez</p>
                        <p class="friend-status">Status</p>
                    </div>
                </li>
                <li>
                    <span class="dot"></span>
                    <div class="friend-chat-informations">
                        <p class="friend-nickname">Nicknamez</p>
                        <p class="friend-status">Status</p>
                    </div>
                </li>
                <li>
                    <span class="dot"></span>
                    <div class="friend-chat-informations">
                        <p class="friend-nickname">Nicknamez</p>
                        <p class="friend-status">Status</p>
                    </div>
                </li>
                <li>
                    <span class="dot"></span>
                    <div class="friend-chat-informations">
                        <p class="friend-nickname">Nicknamez</p>
                        <p class="friend-status">Status</p>
                    </div>
                </li>
                <li>
                    <span class="dot"></span>
                    <div class="friend-chat-informations">
                        <p class="friend-nickname">Nicknamez</p>
                        <p class="friend-status">Status</p>
                    </div>
                </li>
                <li>
                    <span class="dot"></span>
                    <div class="friend-chat-informations">
                        <p class="friend-nickname">Nicknamez</p>
                        <p class="friend-status">Status</p>
                    </div>
                </li>
                <li>
                    <span class="dot"></span>
                    <div class="friend-chat-informations">
                        <p class="friend-nickname">Nicknamez</p>
                        <p class="friend-status">Status</p>
                    </div>
                </li>
                <li>
                    <span class="dot"></span>
                    <div class="friend-chat-informations">
                        <p class="friend-nickname">Nicknamez</p>
                        <p class="friend-status">Status</p>
                    </div>
                </li>
                <li>
                    <span class="dot"></span>
                    <div class="friend-chat-informations">
                        <p class="friend-nickname">Nicknamez</p>
                        <p class="friend-status">Status</p>
                    </div>
                </li>
                <li>
                    <span class="dot"></span>
                    <div class="friend-chat-informations">
                        <p class="friend-nickname">Nicknamez</p>
                        <p class="friend-status">Status</p>
                    </div>
                </li>
                <li>
                    <span class="dot"></span>
                    <div class="friend-chat-informations">
                        <p class="friend-nickname">Nicknamez</p>
                        <p class="friend-status">Status</p>
                    </div>
                </li>
                <li>
                    <span class="dot"></span>
                    <div class="friend-chat-informations">
                        <p class="friend-nickname">Nicknamez</p>
                        <p class="friend-status">Status</p>
                    </div>
                </li>
                <li>
                    <span class="dot"></span>
                    <div class="friend-chat-informations">
                        <p class="friend-nickname">Nicknamez</p>
                        <p class="friend-status">Status</p>
                    </div>
                </li>
                <li>
                    <span class="dot"></span>
                    <div class="friend-chat-informations">
                        <p class="friend-nickname">Nicknamez</p>
                        <p class="friend-status">Status</p>
                    </div>
                </li>
            </ul>
            <li class="friends-menu">Offline (12/12)</li>
        </ul>

    </div>

    <footer>
        <button class="footer-button"></button>
        <button class="footer-button"></button>
        <button class="footer-button"></button>
        <button class="footer-button footer-button-right"></button>
    </footer>

</aside>