@font-face {
    font-family: "Friz Quadrata";
    src: url("/assets/fonts/friz-quadrata.otf");
}

* {
    list-style: none;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #765929;
    border-radius: 1rem;
}

header {
    background: transparent;
    z-index: 5;
}
    .main-menu .play-button p {
        color: #d8d2c6;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 1rem;
        position: absolute;
        top: .95rem;
        left: 7.5rem;
    }
    .play-button .play-button-image {
        float: left;
        margin: 1rem 0 0 1.6rem;
        cursor: pointer;
    }
    .play-button p {
        margin-top: 12px;
    }
    .main-menu {
        width: calc(100% - 250px);
    }
    .main-menu ul {
        color: #b3ae8d;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        height: 80px;
        margin: 0;
        display: inline-block;
    }
        .main-menu li {
            display: inline-block;
            padding: 31.5px 1.5rem;
            margin: -3px;
            cursor: pointer;
            transition-duration: .3s;
        }
        .main-menu li:hover {
            color: #dcd7cb;
            background: rgb(147,145,122);
            background: linear-gradient(0deg, rgba(147,145,122,0.4682247899159664) 0%, rgba(255,255,255,0) 60%);
            transition-duration: .3s;
        }
    .main-menu .main-menu-right, .game-money {
        padding: 0 1rem 0 2rem;
        vertical-align: middle;
        float: right;
    }
    .main-menu .main-menu-right li {
        padding: 1.71rem 1.5rem;
    }
    .main-menu .main-menu-right img, .main-menu .main-menu-right p {
        display: inline-block;
    }
    .main-menu-right .riot-points {
        height: 40px;
        display: block;
    }
    .riot-points img, .riot-points p {
        padding-top: 1.2rem;
    }
    .blue-essence img, .blue-essence p {
        padding-top: .2rem;
    }
    .riot-points p, .riot-points img, .blue-essence p, .blue-essence img {
        font-size: .8rem;
        vertical-align: middle;
        margin: 0;
    }
    .main-menu-right .blue-essence {
        height: 40px;
        display: block;
    }

.vertical-line {
    height: 1px;
    background-color: #ffffff65;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 4;
}

main {
    color: white;
    background: transparent;
    width: calc(100% - 250px);
    height: calc(100vh - 81px);
    position: absolute;
    left: 0;
    z-index: 1;
}

aside {
    color: white;
    background-color: #010a13;
    width: 250px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
    aside .user-info {
        width: 100%;
    }
    aside .user-info .dot {
        width: 60px;
        height: 60px;
        border-radius: 60px;
        background: red;
        margin: 10px 0px 6px 1rem;
        display: inline-block;
    }
    aside .user-information {
        width: 168px;
        height: 80px;
        display: inline-block;
        vertical-align: top;
    }
    aside .user-information .user-nickname {
        font-size: 1rem;
        margin: 0 0 0 .5rem;
        padding: 28px 0 0 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    aside .user-information .user-status {
        width: .6rem;
        height: .6rem;
        background-color: #3db43d;
        border: 2px solid green;
        border-radius: 60px;
        display: inline-block;
        margin-left: .5rem;
        vertical-align: middle;
    }
    aside .user-information .user-message {
        font-size: .8rem;
        vertical-align: middle;
        margin: 0 0 0 .1rem;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    aside .chat-options {
        color: #b3ae8d;
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 1.2rem .5rem 1rem .5rem;
    }
    aside .chat-options label {
        margin-left: .4rem;
    }
    aside .chat-options img {
        float: right;
        margin-top: -6px;
        padding: 0 4px;
    }
    aside .container {
        padding-bottom: 1rem;
        height: calc(100vh - 186px);
        overflow-y: auto; 
    }
    .container .list-groups {
        margin-top: 0;
    }
    .container .list-groups .group {
        height: 45px;
        padding: 10px .6rem 6px .6rem;
    }
    .container .list-groups .group:hover {
        background-color: #ffffff31;
    }
    .container .list-groups p {
        height: 40px;
        margin: -10px 0 0 0;
        vertical-align: middle;
    }
    .list-groups .group img {
        width: 40px;
        height: 40px;
        display: inline-block;
        position: relative;
        top: -8px;
    }
    .list-groups .group .group-initials {
        color: #a9a27c;
        display: inline-block;
        padding-top: 6px;
    }
    .list-groups .group .group-name {
        width: 110px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-top: 6px;
    }
    aside .container ul{
        padding: 0;
        margin: 0;
    }
    aside .friends-menu {
        padding: .5rem 1rem;
    }
    aside .friends-menu:hover {
        background-color: #ffffff31;
    }
    aside .dot {
        width: 3rem;
        height: 3rem;
        border-radius: 60px;
        background-color: red;
        margin-left: .5rem;
        display: inline-block;
    }
    .friend {
        display: none;
        margin-top: .5rem;
    }
    .friend li {
        padding: .5rem .5rem;
    }
    .friend li:hover {
        background-color: #ffffff31;
    }
    .open {
        display: block;
    }
    .friend-chat-informations {
        height: 3rem;
        vertical-align: top;
        padding-left: 4px;
        display: inline-block;
    }
    .friend-chat-informations .friend-nickname {
        margin: 5px 0 5px 0;
        width: 165px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .friend-chat-informations .friend-status {
        font-size: .9rem;
        margin: 0;
        width: 165px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    aside footer {
        width: 100%;
        border-top: solid 1px #ffffff1f;
    }
        .footer-button {
            width: 40px;
            height: 35px;
            background: transparent;
            margin: 0;
            padding: 0;
            border: solid 1px rgb(245, 245, 177)
        }
        .footer-button-right {
            float: right;
        }