<div class="chat-container">

    <ul class="chat-list">

        <li *ngFor="let friend of friends" (click)="selectChat(friend)" class="friend">
            <img src="{{ friend.profilePicture }}">
            <span>{{ friend.name }}</span>
        </li>

    </ul>

    <div class="current-chat">

        <header>

            <div *ngIf="currentChat.profilePicture" class="friend-profile-image-border">
                <img src="{{ currentChat.profilePicture }}" class="friend-profile-image">
            </div>
            <div class="friend-status-circle"></div>

            <div class="friend-informations">

                <span class="friend-name truncate">{{ currentChat.name }}</span>

            </div>

        </header>

        <main>

            <div *ngFor="let message of currentChat.messages" [ngClass]="{'friend-message': message.type == 'friend'}" class="message">{{ message.text }}</div>

        </main>

        <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
            <input formControlName="message" placeholder="Type here..." type="text">
        </form>

    </div>

</div>