.chat-container {

    width: 600px;
    height: 500px;
    background-color: #010911b4;
    backdrop-filter: blur(12px);
    border: 1px solid #ffffff38;

    .chat-list {

        height: 580px;
        width: 200px;
        display: inline-block;
        overflow: auto;

        .friend {

            display: flex;
            align-items: center;
            padding: .5rem;
            transition-duration: .2s;
            cursor: pointer;

            img {

                width: 50px;
                border: 2px solid #8e7341;
                box-sizing: border-box;
                border-radius: 50%;
                margin-right: .5rem;

            }

            span {

                font-size: 18px;
                color: #e4dbc8;
                font-family: "Roboto", sans-serif;

            }

            &:hover {

                background-color: #ffffff23;

            }

        }

    }

    .current-chat {

        width: 400px;
        height: 100%;
        display: inline-block;
        border-left: 1px solid #ffffff1a;
        box-sizing: border-box;
        position: relative;

        header {

            width: 383px;
            height: 42px;
            position: absolute;
            top: 0;
            left: 0;
            padding: .5rem;
            border-bottom: 1px solid #8e7341;
            backdrop-filter: blur(12px);

        }

        main {

            width: 335px;
            height: 456px;
            overflow: auto;
            padding: 6rem 2rem 2rem 2rem;

            .message {

                background-color: #8e734157;
                color: white;
                font-family: 'Roboto', sans-serif;
                line-height: 26px;
                text-rendering:optimizeLegibility;
                width: 70%;
                border-radius: 14px;
                display: block;
                padding: .5rem 1rem;
                margin: .5rem 0;
                float: right;
                transition-duration: .2s;
                overflow-wrap: break-word;

            }
            
            .friend-message {

                background-color: #37373757;
                float: left;


            }

        }

        input {

            color: white;
            font-size: 1.4;
            background-color: transparent;
            width: 100%;
            height: 44px;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 0 1rem;
            border-left: 1px solid #ffffff1a;
            border-bottom: none;
            border-left: none;
            border-right: none;
            box-sizing: border-box;

        }

    }

}

.friend-status-circle {

    position: absolute;
    transform: translate(28px, -15px);

}

.friend-profile-image-border {

    width: 42px;
    height: 42px;
    background: rgb(106,80,40);
    background: -moz-linear-gradient(0deg, rgba(106,80,40,1) 0%, rgba(190,156,87,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(106,80,40,1) 0%, rgba(190,156,87,1) 100%);
    background: linear-gradient(0deg, rgba(106,80,40,1) 0%, rgba(190,156,87,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6a5028",endColorstr="#be9c57",GradientType=1);
    border-radius: 300px;
    display: inline-block;
    margin-right: .8rem;

    .friend-profile-image {

        position: absolute;
        width: 38px;
        height: 38px;
        border-radius: 300px;
        left: 10px;
        top: 10px;

    }

}

.friend-informations {

    display: inline-block;
    width: calc(100% - 56px);
    height: 20px;
    position: relative;
    top: -14px;

    .friend-name, .friend-status {

        font-weight: normal;
        display: block;
        text-transform: initial;
        letter-spacing: 0px;

    }

    .friend-name {

        font-size: 18px;
        color: #e4dbc8;
        font-family: 'Roboto', sans-serif;

    }

}