<ul class="profile-info">

    <li class="rank-item">
        <span>Solo/duo</span>
        <span class="subtitle">platinum ii</span>
        <img class="rank" src="https://i.pinimg.com/originals/d7/47/1e/d7471e2ef48175986e9b75b566f61408.png">
    </li>
    <li class="delay1">
        <span>Honor</span>
        <img class="honor" src="./../../../../../assets/images/profile/honor.png">
    </li>
    <li class="delay2">
        <span>Mastery score</span>
        <span class="subtitle">127</span>
        <div class="mastery-wrapper">
            <img class="champion-image" src="https://www.mobafire.com/images/avatars/zed-classic.png">
            <img class="banner" src="./../../../../../assets/images/profile/banner-mastery.png">
            <img class="mastery" src="https://static.wikia.nocookie.net/leagueoflegends/images/7/7a/Champion_Mastery_Level_7_Flair.png/revision/latest/scale-to-width-down/50?cb=20200113041615">
        </div>
        <div class="mastery-popover">
            <span class="popover-title">Highest champion mastery</span>
            <div class="highest-champion-mastery">
                <div class="mastery-wrapper">
                    <img class="champion-image" src="https://www.mobafire.com/images/avatars/twisted-fate-classic.png">
                    <img class="banner" src="./../../../../../assets/images/profile/banner-mastery.png">
                    <img class="mastery" src="https://static.wikia.nocookie.net/leagueoflegends/images/7/7a/Champion_Mastery_Level_7_Flair.png/revision/latest/scale-to-width-down/50?cb=20200113041615">
                    <div class="mastery-info">
                        <span class="champion-name">Twisted fate</span>
                        <span class="champion-points">304.230 pts</span>
                        <span class="champion-best-grade">Best grade: S+</span>
                    </div>
                </div>
                <div class="mastery-wrapper">
                    <img class="champion-image" src="https://www.mobafire.com/images/avatars/zed-classic.png">
                    <img class="banner" src="./../../../../../assets/images/profile/banner-mastery.png">
                    <img class="mastery" src="https://static.wikia.nocookie.net/leagueoflegends/images/7/7a/Champion_Mastery_Level_7_Flair.png/revision/latest/scale-to-width-down/50?cb=20200113041615">
                    <div class="mastery-info">
                        <span class="champion-name">Zed</span>
                        <span class="champion-points">920.030 pts</span>
                        <span class="champion-best-grade">Best grade: S+</span>
                    </div>
                </div>
                <div class="mastery-wrapper">
                    <img class="champion-image" src="https://www.mobafire.com/images/avatars/kassadin-classic.png">
                    <img class="banner" src="./../../../../../assets/images/profile/banner-mastery.png">
                    <img class="mastery" src="https://static.wikia.nocookie.net/leagueoflegends/images/7/7a/Champion_Mastery_Level_7_Flair.png/revision/latest/scale-to-width-down/50?cb=20200113041615">
                    <div class="mastery-info">
                        <span class="champion-name">Kassadin</span>
                        <span class="champion-points">250.010 pts</span>
                        <span class="champion-best-grade">Best grade: S+</span>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="delay3">
        <span>Trophy</span>
        <img class="trophy" src="./../../../../../assets/images/profile/trophy.png">
    </li>
    <li class="delay4">
        <span>Banner</span>
        <img class="banner" src="./../../../../../assets/images/profile/banner.png">
    </li>

</ul>