.container-main {
    padding: 0 2rem 1rem 2rem;
    margin-top: 3rem;
    height: calc(100vh - 160px);
    overflow-y: auto; 
}

.nav-container-main {
    position: fixed;
    width: calc(100% - 250px);
}
.screen-menu ul {
    padding-left: 1.6rem;
}
.screen-menu li {
    color: #b3ae8d;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 0 1.5rem 0 12px;
    margin: 0 -5px -5px -5px;
    cursor: pointer;
    transition-duration: .3s;
}
.screen-menu li:hover {
    color: #dcd7cb;
    background: transparent !important;
}
.screen-menu .button-champion-rotation {
    color: #aaa897;
    font-weight: bold;
    letter-spacing: .5px;
    background: #1e2326;
    border: solid 1px #433c3d;
    outline: solid 1px white;
    padding: .5rem 1.2rem;
    float: right;
    position: relative;
    top: -5px;
    right: 2rem;
}