.patch-note-title {
    
    color: #f0e6d2;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    display: block;
    margin-top: 2rem;

}

.patch-note-author {

    margin-top: 1rem;
    color: #938f83;
    text-transform: uppercase;
    display: block;

}

.patch-note-text {

    margin: 2rem;
    font-size: 1.2rem;
    color: #f0e6d2;
    letter-spacing: 1px;
    display: block;

}