<nav class="component-menu">

    <ul>

        <li><a routerLinkActive="item-menu-active" routerLink="pvp">pvp</a></li>
        <li><a routerLinkActive="item-menu-active" class="item-menu-disabled">co-op vs. ai</a></li>
        <li><a routerLinkActive="item-menu-active" class="item-menu-disabled">training</a></li>

    </ul>

</nav>

<div class="confirm-button">
    <img (mouseenter)="playSound('confirmButtonHover')" (click)="playSound('confirmButtonCancelClick')" routerLink="/client/home" class="cancel" src="./assets/images/confirm-button/confirm-button-cancel.png">
    <span (mouseenter)="playSound('confirmButtonHover')" (click)="playSound('confirmButtonClick')" routerLink="/client/play/lobby" class="title">
        <span>Confirm</span>
        <img class="confirm" src="./assets/images/confirm-button/confirm-button-click-area.png">
    </span>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>