@import '/src/assets/scss/animations.scss';

ul {

    display: flex;
    height: 100%;

    .game {

        animation: SlideUp;
        animation-duration: 1s;
        width: 25%;
        height: 240px;
        display: inline-block;
        text-align: center;
        padding: 4rem 0 2.5rem;
        transition-duration: .5s;
        opacity: 0;

        img, span {

            display: block;

        }

        span {

            color: #f0e6d2;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 3px;

        }

        .game-type {

            font-size: 1rem;
            margin-top: 1.5rem;

        }

        .game-title {

            text-transform: uppercase;
            font-size: 2rem;
            margin-top: 1rem;
            padding-bottom: 2rem;
            border-bottom: 1px solid #ffffff2f;

        }

        .game-title-lg {

            padding-bottom: 4rem;

        }

        img {

            width: 140px;
            margin: 0 auto;
            cursor: pointer;

        }

        .game-description {
            
            font-family: 'Roboto', sans-serif;
            color: #f0e6d2;
            font-size: 1.2rem;
            line-height: 1.8rem;
            text-align: left;
            padding: 1rem;
            border-bottom: 1px solid #ffffff2f;

        }

        .game-options {

            display: block;
            margin-top: 1rem;

            .option {

                display: block;
                text-align: left;
                position: relative;

                label {

                    color: #beb088;
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 3px;
                    font-size: 1rem;
                    padding: 1rem 1rem 1rem 2.2rem;
                    display: block;
                    cursor: pointer;
                    transition-duration: .2s;

                    &:hover {

                        color: #f0e6d2;

                    }

                }

                input[type="radio"] {
                    
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                
                }

                input[type="radio"] + label::before {

                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    left: 10px;
                    top: 18px;
                    outline: #aa9261 solid 4px;
                    vertical-align: bottom;
                    transform: rotate(230deg);

                }
                
                input[type="radio"]:checked + label {

                    color: #f0e6d2;

                }

                input[type="radio"]:checked + label::after {

                    content: "";
                    background-color: #f0e6d2;
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    left: 10px;
                    top: 18px;
                    outline: #aa9261 solid 4px;
                    vertical-align: bottom;
                    transform: rotate(230deg);

                }

            }

        }

    }

}