<nav>

    <ul>

        <li id="sr" class="game delay1">

            <img src="./assets/images/play-icons/sr-enabled.png">

            <span class="game-type">5v5</span>

            <span class="game-title">Summoner's<br>Rift</span>

            <p [ngClass]="{'game-description-visible': gameMode == 1}" class="game-description">Crush your lane, dive into epic five-on-five team fights, and destroy the enemy nexus in League's premier competitive mode.</p>

            <ul *ngIf="gameMode == 1" class="game-options">

                <li class="option">
                    <input type="radio" disabled id="blindPick" name="pvpOption">
                    <label for="blindPick">Blind Pick</label>
                </li>
                <li class="option">
                    <input type="radio" id="draftPick" name="pvpOption">
                    <label for="draftPick">Draft Pick</label>
                </li>
                <li class="option">
                    <input type="radio" id="soloDuo" checked name="pvpOption">
                    <label for="soloDuo">Ranked Solo/Duo</label>
                </li>
                <li class="option">
                    <input type="radio" disabled id="flex" name="pvpOption">
                    <label for="flex">Ranked Flex</label>
                </li>

            </ul>

        </li>

        <li id="aram" class="game delay2">

            <img src="./assets/images/play-icons/aram-desabled.png">

            <span class="game-type">5v5</span>

            <span class="game-title game-title-lg">Aram</span>

            <p class="game-description">Coming soon.</p>

        </li>

        <li id="tft" class="game delay3">

            <img src="./assets/images/play-icons/tft-desabled.png">

            <span class="game-type">5v5</span>

            <span class="game-title">Teamfight<br>Tatics</span>

            <p class="game-description">I hate TFT, will never come soon.</p>

        </li>

        <li id="urf" class="game delay4">

            <img src="./assets/images/play-icons/urf-desabled.png">

            <span class="game-type">5v5</span>

            <span class="game-title game-title-lg">urf</span>

            <p class="game-description">Coming soon.</p>

        </li>

    </ul>

</nav>