html,body {
    width: 100vw;
    height: 100vh;
    font-family: "Friz Quadrata";
    background: rgb(1,10,19);
    background: linear-gradient(180deg, #010a13 0%, #142e4a 100%);
    margin: 0;
    padding: 0;
}